@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Dear!</h1>
</div>
<div class="card">
    <marquee behavior="" direction="left">Ha ha ha ha ha</marquee>
</div>
